<button mat-icon-button (click)="onNoClick()" style="float:right">
    <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Create New Content</h1>
<div mat-dialog-content>

    <div class="container">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

            <div *ngIf="message" class="alert alert-info">
                {{message}}
            </div>

            <div class="form-group">
                <input id="title" name="title" class="form-control" placeholder="Title"
                       required [(ngModel)]="content.title" #title="ngModel"/>
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                    <div *ngIf="title.errors.required">Content title is required.</div>
                </div>
            </div>

            <div class="form-group">
                <input id="image" name="image" class="form-control" placeholder="Image"
                       required [(ngModel)]="content.image" #image="ngModel"/>
                <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
                    <div *ngIf="image.errors.required">Content image is required.</div>
                </div>
            </div>

            <section style="background-color: #dddddd; padding: 1em">
                <mat-form-field>
                    <input matInput placeholder="Keyword" name="keyword" [(ngModel)]="keyword">
                </mat-form-field>
                <button mat-button (click)="searchWiki(keyword)">🔎 Search Wikidata</button>

                <mat-select id="foundWikis" [(ngModel)]="selectedKeyword" name="selectedWiki" placeholder="Select keyword from wikidata">
                    <mat-option *ngFor="let wiki of wikis" [value]="wiki">{{wiki.description}} - {{wiki.label}} - {{wiki.title}}
                    </mat-option>
                </mat-select>

                <br/>
                <br/>

                <a *ngIf="selectedKeyword" href="{{selectedKeyword.url}}">{{selectedKeyword.label}}</a>

                <button mat-button (click)="addKeyword()">➕ Add Keyword</button>
                <br/>
                <br/>
                <li *ngFor="let keyword of keywordList">
                    {{keyword.label}}
                    <button mat-icon-button (click)="onDeleteClick()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>

            </section>

            <br/>

            <div class="form-group">
                <app-ngx-editor id="explanation" name="explanation" [placeholder]="'Enter explanation here...'"
                                [spellcheck]="true"
                                [(ngModel)]="content.explanation" #explanation="ngModel"></app-ngx-editor>
            </div>


            <br/>

            <div class="form-group">
                <button class="btn btn-primary" style="width:100%" (click)="createNewContent()" [disabled]="f.form.pristine || f.form.invalid">Create Content</button>
            </div>

            <br/>

        </form>


    </div>
</div>