<div *ngIf="isLoggedIn; else loggedOut">
    <div class="container">
        <h6>My Materials</h6>

        <mat-divider></mat-divider>

        <h6>In Progress Materials</h6>

        <div fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="flex-start">
            <mat-card class="material-card" fxFlex="0 1 calc(50% - 50px)"
                      *ngFor="let material of inProgressMaterials">


                <mat-card-header>
                    <mat-card-title>{{material.materialName}}</mat-card-title>
                    <mat-card-subtitle>{{material.detail}}</mat-card-subtitle>
                    <mat-card-subtitle>{{material.createdBy}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image [src]="material.image">

                <br/>
                <br/>

                <mat-card-content style="margin-bottom: 50px">
                    <p>{{material.description}}</p>
                    <mat-chip-list *ngIf="material.keywordList">
                        <mat-chip *ngFor="let keyword of material.keywordList.slice(0,4)"
                                  color="primary" selected>{{keyword}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="warn" style="width:100%" (click)="seeDetail(material.materialId)"
                            [disabled]="info.token==null">CONTINUE
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <mat-divider></mat-divider>

        <h6>Completed Materials</h6>

        <br/><br/>

        <div fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="flex-start">
            <mat-card class="material-card" fxFlex="0 1 calc(50% - 50px)"
                      *ngFor="let material of completedMaterials">


                <mat-card-header>
                    <mat-card-title>{{material.materialName}}</mat-card-title>
                    <mat-card-subtitle>{{material.detail}}</mat-card-subtitle>
                    <mat-card-subtitle>{{material.createdBy}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image [src]="material.image">

                <br/>
                <br/>

                <mat-card-content style="margin-bottom: 50px">
                    <p>{{material.description}}</p>
                    <mat-chip-list *ngIf="material.keywordList">
                        <mat-chip *ngFor="let keyword of material.keywordList.slice(0,4)"
                                  color="primary" selected>{{keyword}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="warn" style="width:100%" (click)="seeDetail(material.materialId)"
                            [disabled]="info.token==null">TAKE AGAIN
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <br/>
    </div>
</div>

<ng-template #loggedOut>
    {{router.navigateByUrl('/auth/login')}}
</ng-template>