<h1 mat-dialog-title>Create New Question</h1>
<div mat-dialog-content>

    <div class="container">
        <br/>

        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

            <div class="form-group">
                <input id="questionText" name="questionText" class="form-control"
                       required [(ngModel)]="dialogData.question.questionText" #questionText="ngModel"/>
                <div *ngIf="questionText.invalid && (questionText.dirty || questionText.touched)" class="alert alert-danger">
                    <div *ngIf="questionText.errors.required">Question Text is required.</div>
                </div>
            </div>

            <p>Options:</p>
            <li *ngFor="let option of dialogData.question.options">
                {{option.optionText}} - {{option.isAnswer}}
            </li>

            <br/>
            <br/>

            <div class="form-group">
                <button class="btn btn-primary" style="width:100%" (click)="updateQuestion()" [disabled]="f.form.pristine || f.form.invalid">Update</button>
            </div>

            <br/>
            <h6 style="color: #3e5e9a">{{message}}</h6>

        </form>


    </div>

    <br/>

</div>
<div mat-dialog-actions>
    <button mat-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>