<div fxLayout="column" fxLayoutAlign="space-between stretch" >

  <h5>Questions</h5>
  <br/>
  <mat-divider></mat-divider>
  <button mat-icon-button (click)="openAddDialog()">
    <mat-icon>add_circle</mat-icon>
    Add New Question
  </button>

  <br/>


  <mat-card class="material-card" *ngFor="let question of questions ">
    <mat-card-header>
      <div mat-card-avatar class="header-image">❓</div>
    </mat-card-header>
    <mat-card-content>
      {{question.questionText}}
      <li *ngFor="let option of question.options">
        {{option.optionText}} - {{option.isAnswer}}
      </li>
    </mat-card-content>
    <mat-card-actions>
      <button style="margin-right: 2%" mat-stroked-button color="info" (click)="openEditDialog(question)">Update</button>
      <button style="margin-right: 2%" mat-stroked-button color="info" (click)="openDeleteDialog(question)">Delete</button>
    </mat-card-actions>
  </mat-card>


</div>