ul.navbar-nav.mr-auto{
    display: inline;
    float: right;
}

ul.li.navbar-nav.mr-auto{
    margin-left: 5%;
}


nav.navbar.navbar-dark.bg-primary{
    display: flow-root;
}

a.nav-link{
    padding-left: 40px;
}