<nav class="navbar navbar-dark bg-primary">

        <div class="navbar-header">
            <a class="navbar-brand" href="#"> G-LEARN 📖 </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf="authority === 'user'">
                    <a class="nav-link" href="learn">LEARN</a>
                </li>
                <li class="nav-item" *ngIf="authority === 'user'">
                    <a class="nav-link" href="teach">TEACH</a>
                </li>
                <li class="nav-item" *ngIf="authority === 'user'">
                    <a class="nav-link" href="track">TRACK</a>
                </li>
                <li class="nav-item" *ngIf="authority !== 'user'">
                    <a class="nav-link" href="auth/login">LOGIN</a>
                </li>
                <li class="nav-item" *ngIf="authority === 'user'">
                    <a class="nav-link" (click)="logout()">LOGOUT</a>
                </li>
            </ul>
        </div>
</nav>