<div *ngIf="isLoggedIn; else loggedOut">

    <div class="container">

        <div>
            <button style="margin-left: 49%" class="material-header" mat-icon-button color="warn" matTooltip="Material is completed"
                    *ngIf="userMaterialStatus.isCompleted">
                <mat-icon aria-label="Example icon-button with a heart icon">check
                </mat-icon>
            </button>
            <h5 style="text-align: center" >{{material.title}} </h5>
        </div>

        <br/>

        <mat-horizontal-stepper [linear]="true" #stepper>
            <ng-template matStepperIcon="edit" let-index="index">
                {{index + 1}}
            </ng-template>

            <mat-step *ngFor="let content of material.contents">

                <br/>
                <ng-template matStepLabel>
                    {{content.title}}
                </ng-template>

                <h6>{{content.title}}</h6>
                <br/>

                <table>
                    <tr>
                        <td>
                            <img [src]="content.image" style="width: 700px; height: 400px">
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let keyword of content.keywords">
                                    <button style="margin-bottom: 10px; margin-left: 20px"
                                            mat-raised-button color="primary" (click)="openKeywordDialog(keyword)">
                                        {{keyword.label}}
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>

                <br/>


                <em>Author: {{material.createdBy}}</em>

                <br/><br/><br/>

                <div [innerHTML]="content.explanation"></div>

                <br/><br/>

                <p *ngIf="content.questions.length>0" style="font-style: oblique">Please answer the questions below to complete this content.</p>
                <section style="background-color: #fafafa">
                    <ul style="font-weight: normal">
                        <li *ngFor="let question of content.questions">
                            <label style="font-weight: normal"  id="option-radio-group-label">{{question.questionText}}</label>
                            <mat-radio-group
                                    aria-labelledby="option-radio-group-label"
                                    class="option-radio-group">
                                <mat-radio-button style="font-style: normal" class="option-radio-button" *ngFor="let option of question.options"
                                                  [value]="option" (change)="onSelectionChange(question.id,option.id)">
                                    {{option.optionText}}
                                </mat-radio-button>
                            </mat-radio-group>

                        </li>
                    </ul>

                </section>


                <br/><br/>

                <div>
                    <button mat-button (click)="complete(material.id,content.id)" style="width: 30%; float: right"
                            mat-raised-button color="warn">
                        COMPLETE
                    </button>
                </div>

            </mat-step>

        </mat-horizontal-stepper>

    </div>


</div>

<ng-template #loggedOut>
    {{router.navigateByUrl('/auth/login')}}
</ng-template>