<div class="container">
        <mat-form-field class="search-form">
            <input matInput placeholder="Search Materials" type="text" [(ngModel)]="searchKey">
        </mat-form-field>
        <button mat-stroked-button color="warn" (click)="searchMaterialsByKeyword()"  style="margin-left: 5px">🔎 Search</button>
        <br/>
        <br/>
        <p *ngIf="materials.length==0">{{searchMessage}}</p>
        <div fxLayout="row wrap"  fxLayoutGap="32px" fxLayoutAlign="flex-start" style="position: relative">
            <mat-card class="material-card" fxFlex="0 1 calc(50% - 32px)"
                      *ngFor="let material of materials">


                <mat-card-header>
                    <mat-card-title>{{material.materialName}}</mat-card-title>
                    <mat-card-subtitle>{{material.detail}}</mat-card-subtitle>
                    <mat-card-subtitle>{{material.createdBy}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image [src]="material.image">

                <br/>
                <br/>

                <mat-card-content style="margin-bottom: 40px">
                    <p>{{material.description}}</p>
                    <p style="color: dodgerblue; font-size: small; font-weight: bold">{{material.keywordList}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button  mat-stroked-button color="warn" style="position: absolute; width: 30%; bottom: 20px; right: 20px" (click)="seeDetail(material.materialId)"
                             [disabled]="info.token==null" >EXPLORE</button>
                </mat-card-actions>
            </mat-card>
        </div>

</div>