<div *ngIf="info.token; else loggedOut">
    <div class="container">
        <mat-form-field class="search-form">
            <input matInput placeholder="Search Topics" type="text">
        </mat-form-field>
        <button button="submit" mat-raised-button color="primary">Search</button>
        <br/>
        <br/>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%" fxLayoutAlign="auto">
            <mat-card class="card-picture" *ngFor="let material of materials">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="80%">{{material.materialName}}</span>
                    <mat-icon fxFlex="10%">thumb_up</mat-icon>
                </mat-card-title>
                <img mat-card-image [src]="material.image">
                <mat-card-content>
                    <p>
                        {{material.description}}
                    </p>
                    <br/>
                    {{material.keywordList}}
                </mat-card-content>
                <mat-card-actions>
                    <a href="teach"><button mat-button>TAKE</button></a>
                </mat-card-actions>
            </mat-card>
        </div>
        <!--
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                 alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>TAKE</button>
            </mat-card-actions>
        </mat-card>
        -->

    </div>

    <ng-template #loggedOut>
        Please login.
    </ng-template>
</div>